* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  /* font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;  */
  /* font-size: 110%; */
}

body {
  background-image: url('wood-pattern-full.png');
}

nav {
  /* background-color: #e0d6c8; */
}

.bg {
  margin: 0
}

/************************ FRAME ************************/

.frame-top {
  border-radius: 0 0 10px 10px;
  padding: 2% 0 2% 0;
  margin: 0 20% 0 20%;
  /* background-color: #87ae51; */
  color: hsla(0,0%,20%,1);
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;

  background-color: hsl(0,0%,90%);
  box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    /* inset hsla(0,0%,100%,.7) 0  2px 1px 7px, top HL */

    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
    hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */
}

.frame-title {
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar-btn {
  margin-left: 2%;
  margin-right: 2%;
  border: none;
  background-color: transparent;
  font-size: large;
  text-decoration: none;
  cursor: pointer;
  outline:0;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s linear;
}

.navbar-btn:hover {
  border-bottom: 2px solid orangered;
}

.page-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/************************ SETUP ************************/

.setup-frame {
  display: flex;
  flex-direction: column;
}

.setup-body {
  border-radius: 10px;
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  background-color: rgb(245, 245, 245, 0.6);
  border-radius: 10px;
  max-height: 400px;
  overflow: hidden;
  box-shadow: 3px 7px 10px rgb(62, 62, 62);
  transition: background-color 0.1s linear;
}

.card:hover {
  background-color: rgb(245, 245, 245, 0.8);
}

.enter-players {
  margin-bottom: 60px;
}

.card-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(201, 201, 201, 0.6);
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 2px 5px rgb(62, 62, 62);
  text-align: center;
}

.card-info {
  display: flex;
  flex-direction: column;
  padding: 0 30px 10px 30px;
  min-width: 220px;
  max-height: 335px;
  overflow: scroll;
}

.players-entered {
  border-radius: 10px;
}

.add-player {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.name-input {
  display: flex;
  flex-direction: column;
}

.set-dealer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.set-dealer-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.cube-rule {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.max-round {
  display: flex;
  flex-direction: column;
}

.max-round-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.start-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 40px;
}

.player-entered {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.delete-player-btn {
  height: auto;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.delete-player-btn:hover {
  background-color: orangered;
}

/************************ GAMEPLAY ************************/

hr {
  margin: 1%;
}

.players-and-round-info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}

.player-and-bid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
}

/************************ SCORE ************************/

.scoring-body {
  background-color: rgb(245, 245, 245, 0.6);
  border-radius: 10px;
  max-width: 80%;
  max-height: auto;
  margin: auto;
  margin-top: 2%;
  text-align: center;
}

.score-table {
  /* display: flex; */
  justify-content: space-between;
}

.score-table-row {
  display: flex;
  justify-content: space-between;
  padding: 0 5% 0 5%;
}

.titles {
  background-color: rgb(245, 245, 245, 0.6);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 3px rgb(62, 62, 62);
  margin-bottom: 7px;
}

.score {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0 15px 0 15px;
}

.score-totals {
  display: flex;
  justify-content: space-evenly;
}
